<div class="container-fluid d-flex flex-column">
  <div style="width: 600px">
    <img src="./assets/img-login.jpg" class="card-img-top" alt="...">
  </div>
  <div class=" ms-1 p-2" style="width: 600px">
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
    </form>
    <button type="button" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="onSubmit(loginForm)">Login</button>
  </div>
</div>

