<div class=" ms-1 p-2" style="width: 600px">
  <div class="mb-3">
    <h2>Cadastrar Usuário</h2>
  </div>
  <form [formGroup]="userForm" class="needs-validation row g-3">
    <div class="mb-3 col-md-3">
      <label for="cpf" class="form-label">CPF</label>
      <input type="text" class="form-control" id="cpf" formControlName="cpf" placeholder="000.000.000-00">
    </div>
    <div class="mb-3 col-md-9">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="mb-3 col-md-4">
      <label for="birthdate" class="form-label">Data de nascimento</label>
      <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder="dd/mm/yyyy">
    </div>
    <div class="mb-3 col-md-8">
      <label for="jobPosition" class="form-label">Cargo</label>
      <input type="text" class="form-control" id="jobPosition" formControlName="jobPosition" placeholder="ex: Vendedor">
    </div>
    <div class="mb-3 col-md-8">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control has-validation" id="email" formControlName="email"
             placeholder="name@example.com">
    </div>
    <div class="mb-3 col-md-4">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <div class="mb-3 col-md-4">
      <label for="accessLvl" class="form-label">Level de acesso</label>
      <select class="form-select" id="accessLvl" formControlName="accessLvl">
        <option value="LOW">Baixo</option>
        <option value="MEDIUM">Médio</option>
        <option value="HIGH">Alto</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>
  </form>
  <div class="mt-4">
    <button type="button" class="btn btn-primary" [disabled]="!userForm.valid" (click)="onSubmit(userForm)">Enviar
    </button>
  </div>
</div>
