<div class="container-fluid">
  <div class="card-header m-3">
    <h2>Lista de orçamentos</h2>
    <div class="col-md-3 mt-4 mb-4 border1">
      <label>Filtrar por status:</label>
      <select class="form-select" (change)="onChangeFilter($event)">
        <option value="ALL">Todos</option>
        <option value="Pendente">Pendente</option>
        <option value="Processando">Processando</option>
        <option value="Autorizado">Autorizado</option>
        <option value="Concluido">Concluído</option>
        <option value="Entregue">Entregue</option>
      </select>
    </div>
    <div class="col-md-9 border1">
      <table class="table table-responsive">
        <thead>
        <tr>
          <th scope="col">#id</th>
          <th scope="col">Status</th>
          <th scope="col">Alterar status</th>
          <th scope="col">Qtd</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fornecedor</th>
          <th scope="col">Produto</th>
          <th scope="col">Total</th>
          <th scope="col">
            <button type="button" class="btn pb-0" (click)="openModalAddBudget()">
              <img src="assets/add-budget.png">
            </button>
          </th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr *ngFor="let budget of budgetsToDisplay">
          <th scope="row">{{ budget.id }}</th>
          <td>{{ budget.status }}</td>
          <td>
            <button type="button" class="btn pb-0" >
              <img src="assets/edit.png">
            </button>
          </td>
          <td>{{ budget.quantity }}</td>
          <td>{{ budget.customer.name }}</td>
          <td>{{ budget.supplier.corporativeName }}</td>
          <td>{{ budget.product.name }}</td>
          <td>{{ budget.finalPrice | currency:'BRL' }}</td>
          <td>
            <button type="button" class="btn pb-0" (click)="openModalEditBudget()">
              <img src="assets/budget-edit.png">
            </button>
            <button type="button" class="btn pb-0">
              <img src="assets/trash.png">
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
