<div class="card-header m-3">
  <h2>Lista de Produtos</h2>
</div>
<div class="card-body p-3">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th scope="col">#id</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">
        <button type="button" class="btn pb-0" [routerLink]="['../product-form']">
          <img src="assets/box-add.png">
        </button>

        <!-- TODO implementar botão para pesquisar customer por id mais para frente...  -->

      </th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price | currency:'BRL'  }}</td>
      <td>
        <button type="button" class="btn pb-0" [routerLink]="['../product-edit']" (click)="editProduct(product)">
          <img src="assets/product-edit.png">
        </button>
        <button type="button" class="btn pb-0">
          <img src="assets/trash.png">
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
